{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Meetups</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
</head>
<body>
    <h1>All Meetups!</h1>
    <p>Hello World</p>

    <!-- <h2>{{ meetups.0.title }}</h2> -->

    <!-- 
        <ul>
        {% for meetup_item in meetups %}
            <li>{{ meetup_item.title }}</li>
        {% endfor %}
        </ul>
    -->

    <!-- 
        {% if show_meetups %}
            <h3>{{ meetups.0.title }}</h3>
        {% else %}
            <p>No meetups found</p>
        {% endif %} 
    -->
    
    <!-- combined -->
    <ul>
        {% for meetup_item in meetups %}
            {% if show_meetups %}
                <li>{{ meetup_item.title }}</li>
            {% else %}
                <p>No meetups found</p>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>