<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        
        {% if has_error %}<!-- {'has_error': True} -->
            <p>This form is invalid - please enter a valid username</p>
        {% endif %}

        <label for="name">Your name</label>
        <input type="text" name="username" id="name">
        <button>Send</button>
    </form> 
</body>
</html>